.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 30px 10px 30px;
}

.flex {
  display: flex;
}

li {
  display: flex;
  flex-direction: row;
}

p {
  margin: 10px 10px 10px 10px;
}

form {
  margin: 10px 10px 10px 10px;
}

.bookList {
  margin: 10px 10px 10px 10px;
}